<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome {{ UserName }} !
        </h1>
        <v-btn color="red" dark class="mr-4" @click="handleSignOut">
          SIGNOUT
        </v-btn>
      </v-col>
    </v-row> 
    <div class="list-company">
        <v-card v-for="company in companies" :key="company.vat" class="mx-auto card-company" max-width="400">
          <v-img
            class="white--text align-end"
            height="200px"
            :src="company.image"
          >
            <v-card-title>{{company.name}}</v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0"> {{company.email}} </v-card-subtitle>

          <v-card-text class="text--primary">
            <div>{{company.website}}</div>

            <div>{{`${company.contact.address.street}, ${company.contact.address.streetName}, ${company.contact.address.buildingNumber} `}}</div>
            <div>{{`${company.contact.address.city}, ${company.contact.address.country} `}}</div>
          </v-card-text> 
        </v-card> 
        </div>
  </v-container>
</template>

<script> 
export default {
  name: "home",
  data: () => ({
    companies: [
        {
            "name": "O'Keefe-Braun",
            "email": "juvenal94@hotmail.com",
            "vat": "913332362",
            "phone": "+8477841086062",
            "country": "Martinique",
            "addresses": [
                {
                    "street": "150 Ova Shores Apt. 009",
                    "streetName": "Rusty Walk",
                    "buildingNumber": "19609",
                    "city": "Wildermanborough",
                    "zipcode": "94480-8817",
                    "country": "France",
                    "county_code": "VG",
                    "latitude": -81.665417,
                    "longitude": -70.113955
                },
                {
                    "street": "970 Eloisa Hills Apt. 027",
                    "streetName": "Gleichner Fields",
                    "buildingNumber": "371",
                    "city": "Considinemouth",
                    "zipcode": "14587",
                    "country": "Western Sahara",
                    "county_code": "PK",
                    "latitude": -69.187335,
                    "longitude": -91.717954
                }
            ],
            "website": "http://cruickshank.info",
            "image": "http://placeimg.com/640/480/people",
            "contact": {
                "firstname": "Aaron",
                "lastname": "Collins",
                "email": "orn.josiane@crist.biz",
                "phone": "+3738737199438",
                "birthday": "1972-11-13",
                "gender": "male",
                "address": {
                    "street": "1722 Kuhic Views Apt. 832",
                    "streetName": "Torp Route",
                    "buildingNumber": "56197",
                    "city": "East Kathrynemouth",
                    "zipcode": "94470-9769",
                    "country": "Nicaragua",
                    "county_code": "TW",
                    "latitude": 89.111321,
                    "longitude": 171.401857
                },
                "website": "http://nitzsche.info",
                "image": "http://placeimg.com/640/481/people"
            }
        },
        {
            "name": "Rodriguez, Klein and Kihn",
            "email": "princess98@shields.com",
            "vat": "694140051",
            "phone": "+2433349591287",
            "country": "Mayotte",
            "addresses": [
                {
                    "street": "2284 Kellen Squares",
                    "streetName": "Sauer Bridge",
                    "buildingNumber": "63929",
                    "city": "Tristonland",
                    "zipcode": "21552",
                    "country": "British Virgin Islands",
                    "county_code": "MM",
                    "latitude": -36.692809,
                    "longitude": 124.584698
                },
                {
                    "street": "798 Ankunding Curve",
                    "streetName": "Clemens Knolls",
                    "buildingNumber": "22925",
                    "city": "Felicitybury",
                    "zipcode": "02156",
                    "country": "Samoa",
                    "county_code": "KP",
                    "latitude": 55.383017,
                    "longitude": 122.258831
                },
                {
                    "street": "1132 Hand Centers Suite 691",
                    "streetName": "Selmer Spur",
                    "buildingNumber": "730",
                    "city": "Samanthaborough",
                    "zipcode": "12601",
                    "country": "Mozambique",
                    "county_code": "ET",
                    "latitude": -89.194825,
                    "longitude": 23.12494
                }
            ],
            "website": "http://bartell.com",
            "image": "http://placeimg.com/640/483/people",
            "contact": {
                "firstname": "Eda",
                "lastname": "Hayes",
                "email": "pmacejkovic@gmail.com",
                "phone": "+1480426776783",
                "birthday": "1999-03-05",
                "gender": "female",
                "address": {
                    "street": "1788 Colten Street",
                    "streetName": "Lehner Ports",
                    "buildingNumber": "439",
                    "city": "Venabury",
                    "zipcode": "36411-1545",
                    "country": "Tokelau",
                    "county_code": "IN",
                    "latitude": -52.347341,
                    "longitude": -82.882994
                },
                "website": "http://rohan.com",
                "image": "http://placeimg.com/640/480/people"
            }
        },
        {
            "name": "Littel Inc",
            "email": "kiehn.kellie@gmail.com",
            "vat": "11730983258",
            "phone": "+1255464872025",
            "country": "Bahrain",
            "addresses": [
                {
                    "street": "426 Chaim Cliffs",
                    "streetName": "Ocie Shoals",
                    "buildingNumber": "51147",
                    "city": "Borerborough",
                    "zipcode": "14575-1581",
                    "country": "Jordan",
                    "county_code": "CW",
                    "latitude": 29.383352,
                    "longitude": -83.942114
                },
                {
                    "street": "70692 Heidi Estate",
                    "streetName": "O'Reilly Groves",
                    "buildingNumber": "725",
                    "city": "East Alexander",
                    "zipcode": "68194",
                    "country": "Iceland",
                    "county_code": "EG",
                    "latitude": 0.573736,
                    "longitude": 174.391709
                },
                {
                    "street": "997 Nienow Junctions Suite 461",
                    "streetName": "Hills Expressway",
                    "buildingNumber": "2348",
                    "city": "Orvalshire",
                    "zipcode": "83680-8537",
                    "country": "Congo",
                    "county_code": "CY",
                    "latitude": 2.755547,
                    "longitude": 80.030708
                },
                {
                    "street": "20964 Roger Hill",
                    "streetName": "Rempel Radial",
                    "buildingNumber": "21599",
                    "city": "East Frederique",
                    "zipcode": "82743-0446",
                    "country": "Saint Martin",
                    "county_code": "YT",
                    "latitude": -64.901358,
                    "longitude": 88.669945
                },
                {
                    "street": "1693 Katlynn Course Apt. 226",
                    "streetName": "Grady Road",
                    "buildingNumber": "88924",
                    "city": "Russelton",
                    "zipcode": "02904",
                    "country": "Falkland Islands (Malvinas)",
                    "county_code": "AZ",
                    "latitude": -50.738362,
                    "longitude": 143.06748
                }
            ],
            "website": "http://marquardt.com",
            "image": "http://placeimg.com/640/484/people",
            "contact": {
                "firstname": "Jakob",
                "lastname": "Ziemann",
                "email": "effertz.ambrose@monahan.com",
                "phone": "+1628150160548",
                "birthday": "1985-12-22",
                "gender": "male",
                "address": {
                    "street": "192 Ratke Ville",
                    "streetName": "Dickinson Harbors",
                    "buildingNumber": "3551",
                    "city": "Lake Mable",
                    "zipcode": "16303",
                    "country": "France",
                    "county_code": "TJ",
                    "latitude": 86.595004,
                    "longitude": -16.662673
                },
                "website": "http://lebsack.com",
                "image": "http://placeimg.com/640/480/people"
            }
        },
        {
            "name": "Hodkiewicz LLC",
            "email": "renee57@rogahn.com",
            "vat": "1357766625",
            "phone": "+5070877993898",
            "country": "Cambodia",
            "addresses": [
                {
                    "street": "6799 Aleen Lake Apt. 243",
                    "streetName": "Emily Plaza",
                    "buildingNumber": "524",
                    "city": "Bayermouth",
                    "zipcode": "74175",
                    "country": "Niger",
                    "county_code": "CM",
                    "latitude": -31.378426,
                    "longitude": -154.102572
                }
            ],
            "website": "http://hauck.com",
            "image": "http://placeimg.com/640/489/people",
            "contact": {
                "firstname": "Rachel",
                "lastname": "Jones",
                "email": "evelyn75@kirlin.biz",
                "phone": "+2555565785961",
                "birthday": "1972-01-19",
                "gender": "female",
                "address": {
                    "street": "65700 Kaden Flat",
                    "streetName": "Raynor Isle",
                    "buildingNumber": "336",
                    "city": "Abbottland",
                    "zipcode": "40741",
                    "country": "Guyana",
                    "county_code": "TC",
                    "latitude": -3.516901,
                    "longitude": -57.118707
                },
                "website": "http://hyatt.com",
                "image": "http://placeimg.com/640/487/people"
            }
        }
    ],
  }),
  
  computed: {
    UserName() {
      console.log(this.$store.state.user);
      let _name = this.$store.state.user.name;
      return _name.charAt(0).toUpperCase() + _name.slice(1);
    },
  },


  methods: {
    
    handleSignOut() {
      this.$store.dispatch("signout");
    },
  },
};
</script>
<style scoped>
  .list-company {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%; 
  }

  .card-company{
    margin-bottom: 50px;
    margin-top: 50px;
  }
</style>