<template>
  <div class="container">
    <v-card elevation="5">
      <v-img
        :src="require('../assets/logo.svg')"
        class="my-3"
        contain
        height="100"
      />
      <h1 class="signin-title">VueJs Register</h1>
      <v-form ref="form" v-model="valid" lazy-validation class="form-content">
        <v-text-field
          v-model="name"
          :rules="nameRules"
          autocomplete="new-password"
          label="Name"
          required
        ></v-text-field>

        <v-text-field
          v-model="username"
          :rules="usernameRules"
          autocomplete="new-password"
          label="User"
          required
        ></v-text-field>

        <v-text-field
          v-model="email"
          :rules="emailRules"
          autocomplete="new-password"
          label="E-mail"
          required
        ></v-text-field>

        <v-text-field
          v-model="password"
          :rules="passwordRules"
          :type="'password'"
          autocomplete="new-password"
          label="Password"
          required
        ></v-text-field>
        <v-btn
          :disabled="!IsValid"
          class="mr-4"
          color="primary"
          elevation="2"
          @click="handleSignUp"
        >
          submit
        </v-btn>
        <v-btn @click="handleBack"> Go Back </v-btn>
      </v-form>
    </v-card>

    <v-alert
      class="modal-alert"
      outlined
      dense
      type="warning"
      prominent
      color="red"
      text
      :value="alert"
      >{{ alertMsg }}
    </v-alert>
    <v-progress-circular
      class="modal-alert"
      indeterminate
      v-show="loading"
      color="green"
    ></v-progress-circular>
  </div>
</template>
<script>
import router from "../router";
export default {
  name: "signup",
  data: () => ({
    valid: false,
    remember: true,
    loading: false,
    alert: false,
    alertMsg: "",
    username: "",
    email: "",
    password: "",
    name: "",
    usernameRules: [
      (e) => !!e || "Username is required!",
      (e) => (e && e.length > 3) || "Username must be valid",
    ],
    passwordRules: [
      (e) => !!e || "Password is required!",
      (e) => (e && e.length >= 3) || "Password must be valid",
    ],
    nameRules: [
      (e) => !!e || "Name is required!",
      (e) => (e && e.length >= 1) || "Name must be valid",
    ],
    emailRules: [
      (e) => !!e || "Email is required!",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
  }),

  computed: {
    IsAuth() {
      return this.$store.state.authorized;
    },
    IsValid() {
      return this.valid;
    },
  },
  methods: {
    formValidate() {
      this.$refs.form.validate();
    },
    handleBack() {
      router.back();
    },
    async handleSignUp() {
      if (this.$refs.form.validate()) {
        let _user = this.username;
        let _psw = this.password;
        let _eml = this.email;
        let _name = this.name;
        try {
          this.loading = true;
          await this.$store.dispatch("signup", {
            username: _user,
            password: _psw,
            name: _name,
            email: _eml,
          });
        } catch (e) {
          this.alertMsg = e;
          this.alert = true;
          setTimeout(() => {
            this.alertMsg = "";
            this.alert = false;
          }, 2000);
        }
      }
    },
  },
};
</script>
<style scoped>
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.form-content {
  width: 25em;
  padding: 20px;
}
.signin-title {
  color: gray;
  text-align: center;
  justify-content: center;
  padding: 10px;
}
.modal-alert {
  position: absolute;
  top: 20px;
  justify-content: center;
}
</style>  
