<template>
  <div class="container">
    <v-card elevation="5">
      <v-img
        :src="require('../assets/logo.svg')"
        class="my-3"
        contain
        height="100"
      />
      <h1 class="signin-title">VueJs Auth</h1>
      <v-form ref="form" v-model="valid" lazy-validation class="form-content">
        <v-text-field
          v-model="username"
          :rules="usernameRules"
          label="User"
          required
        ></v-text-field>

        <v-text-field
          v-model="password"
          :type="'password'"
          :rules="passwordRules"
          label="Password"
          required
        ></v-text-field>

        <v-checkbox
          v-model="remember"
          label="Remember me"
          required
        ></v-checkbox>

        <v-btn
          :disabled="!IsValid"
          color="success"
          class="mr-4"
          @click="handleSignIn"
        >
          SIGNIN
        </v-btn>

        <v-btn color="info" class="mr-4" @click="handleSignUp"> SIGNUP </v-btn>
      </v-form>
    </v-card>

    <v-alert
      class="modal-alert"
      outlined
      dense
      type="warning"
      prominent
      color="red"
      text
      :value="alert"
      >{{ alertMsg }}
    </v-alert>

    <v-progress-circular
      class="modal-alert"
      indeterminate
      v-show="loading"
      color="green"
    ></v-progress-circular>
  </div>
</template>

<script>
import router from "../router";
export default {
  name: "signin",
  data: () => ({
    valid: false,
    remember: true,
    loading: false,
    alert: false,
    alertMsg: "",
    username: "",
    password: "",
    usernameRules: [
      (e) => !!e || "Username is required!",
      (e) => (e && e.length > 3) || "Username must be valid",
    ],
    passwordRules: [
      (e) => !!e || "Password is required!",
      (e) => (e && e.length >= 3) || "Password must be valid",
    ],
  }),

  computed: {
    IsAuth() {
      return this.$store.state.authorized;
    },
    IsValid() {
      return this.valid;
    },
  },
  methods: {
    formValidate() {
      this.$refs.form.validate();
    },
    handleSignUp() {
      router.push("/signup");
    },
    async handleSignIn() {
      if (this.$refs.form.validate()) {
        let _user = this.username;
        let _psw = this.password;
        try {
          this.loading = true;
          await this.$store.dispatch("signin", {
            username: _user,
            password: _psw,
            remember: this.remember,
          });
        } catch (e) {
          this.alertMsg = e;
          this.alert = true;
          setTimeout(() => {
            this.alertMsg = "";
            this.alert = false;
          }, 2000);
        }
      }
    },
  },
};
</script>
<style scoped>
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.form-content {
  width: 25em;
  padding: 20px;
}
.signin-title {
  color: gray;
  text-align: center;
  justify-content: center;
  padding: 10px;
}
.modal-alert {
  position: absolute;
  top: 20px;
  justify-content: center;
}
</style>  
